{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Добавить сайт{% endblock %}

{% block content %}

<div>
    <div>
        <form id="addSite" class="form form-add">
            {% csrf_token %}

          <div class="form-group">
            <label for="name">Название(используется в поиске)</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Например: Techcrunch">
          </div>

           <div class="form-group">
            <label for="name">Url</label>
            <input type="text" class="form-control link" name="url" id="url" placeholder="Например: https://techcrunch.com/">
          </div>

          <div class="form-group">
            <label for="favicon">Favicon(вставить ссылку, он сам сохранит как надо)</label>
            <input type="text" class="form-control img-real" name="favicon" id="favicon" placeholder="Ссылка favicon">
          </div>

          <div class="form-group">
            <label for="image">Image(если есть большая картинка, вставить ссылку, он сам сохранит как надо)</label>
            <input type="text" class="form-control img-real" name="image" id="image" placeholder="Ссылка image">
          </div>

            <div class="form-group">
            <label for="name">rss</label>
            <input type="text" class="form-control link" name="rss" id="rss" placeholder="Например:http://feeds.feedburner.com/TechCrunch/startups">
          </div>

          <div class="form-group">
            <label for="name">Slug (адрес на contter)</label>
            <input type="text" class="form-control link link-slug" name="slug" id="slug" placeholder="Например: techcrunch.com">
             <small>Если на сайте несколько rss разделов то добавлять  techcrunch.com/startups через слэш название добавлять</small>
          </div>

           <div class="form-group">
            <label for="name">Short url(используется в поиске)</label>
            <input type="text" class="form-control" name="short_url" id="short_url" placeholder="Например: techcrunch.com">
               <small>для все разделов short url будет главный без всякий слэшей www и http. как slug почти только чистый</small>
          </div>

            <div class="form-group">
            <label for="name">Цвет(без решетки)</label>
            <input type="text" class="form-control color" name="color" id="color" placeholder="Например: e5e5e5">
                <small>Если цвет плохо сочетается с белым,выбрать другой или текущий затемнить</small>
          </div>

            <div class="form-group">
            <label for="name">Язык</label>
            <input type="text" class="form-control " name="lang" id="lang" value="en">
          </div>

              <div class="form-group">
            <label for="description">Описание</label>
                  <textarea class="form-control " name="description" id="description" ></textarea>
          </div>

          <button type="submit" class="btn btn-default">Отправить</button>
        </form>

    </div>
</div>
{%  endblock %}