{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Список сайтов{% endblock %}

{% block content %}

<div>

    <div style="position: relative;width: 100%;    font-size: 11px;" class="">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><a style="font-size: 11px;" href="/add" type="button" class="btn btn-success">Добавить сайт</a></th>
          <th>Название</th>
          <th>Url</th>
          <th>Favicon</th>
          <th>Image</th>
          <th>RSS</th>
          <th>Slug</th>
          <th>Short url</th>
          <th>Цвет</th>
          <th>Язык</th>
          <th>Категории</th>
          <th>Описание</th>
          <th>Активный</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{ obj.id }} <a type="button" class="btn btn-default">Edit</a></td>
          <td>{{ obj.name }}</td>
        <td><a target="_blank" href="{{ obj.url }}">{{ obj.url }}</a></td>
        <td>
            {% if obj.favicon %}<a target="_blank" href="{{ obj.favicon_get }}"><img style="max-width: 100px" src="{{ obj.favicon_get }}"></a>{% endif %}
        </td>
        <td>
            {% if obj.image  %}<a target="_blank" href="{{ obj.image_get }}"><img style="max-width: 100px" src="{{obj.image_get  }}"></a>{% endif %}
        </td>
        <td><a target="_blank" href="{{ obj.rss }}">{{ obj.rss }}</a></td>
        <td><a href="http://54.201.254.181/{{ obj.slug }}">{{ obj.slug }}</a></td>
        <td>{{ obj.short_url }}</td>
       <td><div class="color-block" style="background-color: #{{ obj.color }}"></div></td>
        <td>{{ obj.lang }}</td>
        <td>?</td>
        <td>сюда не выводится</td>
        <td>{{ obj.is_active }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{%  endblock %}