{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
 <script
  src="http://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .color-block{
            width: 20px;
            height: 20px;
        }
    </style>

</head>
<body>
<div>
    {% block content %}{% endblock %}
</div>

<script>
(function(document, window, $) {
    var img_path = 'https://s3-us-west-2.amazonaws.com/contter/';
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();

    console.log('load', document, window, $);
    $('.img-real').on('paste', function(e){
        let el = $(this),
                prt = el.parent();
        var val = e.originalEvent.clipboardData.getData('Text');
        prt.addClass('loading');
        prt.find('.extra').remove();
        $.ajax({
                url: '/add-img',
                data: {csrfmiddlewaretoken: csrfmiddlewaretoken, value: val},
                method: 'post',
                success: function(data) {
                  console.log(data);
                    if(data.ok){
                        prt.append('<input class="extra" style="display: none;" name="original_'+el.attr("name")+'" value="'+data.path+'">');
                        prt.append('<img class="extra" style="max-width:100px" src="'+img_path+data.path+'"></img>')
                    }
                }
        });
    });


    $('.link').on('input', function(e){
        let el = $(this),
                prt = el.parent(),
                val = null;
        if(e.type == 'paste'){
            val =  e.originalEvent.clipboardData.getData('Text');
        }
        else{
            val = el.val()
        }
        prt.find('.extra').remove();
        //var val = e.originalEvent.clipboardData.getData('Text');
        prt.addClass('loading');
        if(el.hasClass('link-slug')){
            val = 'http://54.201.254.181/'+val
        }
        console.log('link', e);
        prt.append('<a class="extra" target="_blank" href="'+val+'">'+val+'</a>')
    });

    $('.color').on('input', function(e){
        var el = $(this),
                prt = el.parent();
        var val = el.val();
        prt.find('.extra').remove();
        prt.append('<div class="color-block extra" style="background-color: #'+val+'; width:auto;color:white;">Пример как выглядить</div')
    });

    $('#addSite').submit(function(e){
        e.preventDefault();
        var form = $(this);
        var data = JSON.stringify(form.serializeArray());
        console.log(data);
         $.ajax({
                data: {csrfmiddlewaretoken: csrfmiddlewaretoken, data: data},
                method: 'post',
                success: function(data) {
                  console.log(data);
                    window.location.href = '/'
                }
        });
    });

})(document, window, jQuery);
</script>

</body>
</html>